<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/home.css">
</head>
<body>
		<div class ="row">
			<div class="col-lg-2 col-md-2"></div>
			<div class ="jumbotron col-lg-8 col-md-8"></div>
		</div>

		<div class = "row">
			
			<div class="col-lg-3 col-md-3"></div>
			<div class="orders col-lg-6 col-md-6">
					
					{{{body}}}
					
			</div>
			<div class="col-lg-3 col-md-3"></div>
				
		</div>

		<div class= "row">
				
			<div class="col-lg-5 col-md-5"></div>
			<div class="col-lg-2 col-md-2">
				<div class="panel panel-default addOrder ">

					<div class="panel-heading text-center">Place Order here !!</div>
  					<div class="panel-body text-center">
    					<form class="form-horizontal">
    						<div class="input-group">
    							<label for="order"></label>
    							<textarea style="resize: none;" class="form-control" id="order" name="myBurger" placeholder="what burger would you like...?"></textarea>
    							<button class="btn btn-primary btn-block" type="submit" id="placeOrder">Submit</button>
    						</div>
    					</form>
  					</div>
					

				</div>
			</div>
		</div>

		
</body>
</html>

		